.icons-options{
    font-size: 16px;
}

.btn-actions{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: white;
    transition: all .5s ease-in-out;
}

.btn-actions:hover{
    background: #bdbdbd31;
}

.a-link{
    color: #1976D2;
}

.a-link:hover{
    text-decoration: underline;
}

.float-button{
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 20px;
    background-color: #2196F3;
    color: white;
    overflow: hidden;
    transition: all .3s ease-in-out;
    z-index: 10;
}

.float-button:hover{
    background-color: #03A9F4;
    transform: scale(1.1);
}

.badge-message{
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: tomato;
    top: -5px;
    right: -5px;
    z-index: 100;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-comment-dots{
    position: relative;
}