<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <div class="d-flex justify-content-between">
                    <h6>Tabla de Clientes</h6>
                    <button type="button" class="btn btn-primary" [routerLink]="['/cliente/create']">
                        <span><i class="fas fa-plus"></i></span>
                        <span style="margin-left: 10px;">Registrar Cliente</span></button>
                </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cliente
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Razón social y/o RUC</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Celular</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Estado</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Fecha de Registro</th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cliente of clientes">
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div>

                                            <div class="dropdown">

                                                <img *ngIf="cliente.genero == 'Masculino' || !cliente.genero; else elseBlockImg"
                                                    src="assets/img/avatar-masculino.png"
                                                    class="avatar avatar-sm me-3 dropdown-toggle"
                                                    data-bs-toggle="dropdown" id="navbarDropdownMenuLink2">

                                                <ng-template #elseBlockImg>
                                                    <img src="assets/img/avatar-femenino.png"
                                                        class="avatar avatar-sm me-3 dropdown-toggle"
                                                        data-bs-toggle="dropdown" id="navbarDropdownMenuLink2">
                                                </ng-template>

                                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                                                    <li><a class="dropdown-item" routerLink="/cliente/view/{{ cliente.id }}" >Ver Información</a></li>
                                                    <li><a class="dropdown-item" href="#">Editar Datos</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">{{ cliente.nombres | titlecase }} {{
                                                cliente.ap_paterno | titlecase }}</h6>
                                            <p class="text-xs text-secondary mb-0">{{ cliente.email }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-1">{{ cliente.razon_social | titlecase }}</p>
                                    <p class="text-xs text-secondary mb-0">{{ cliente.ruc }}</p>
                                </td>
                                <td>
                                    <span class="text-secondary text-xs font-weight-bold">{{ cliente.celular }}</span>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="badge badge-sm bg-gradient-success"
                                        *ngIf="isToday(cliente.fecha_registro); else elseBlock">Nuevo</span><br>
                                    <ng-template #elseBlock>
                                        <span class="badge badge-sm bg-gradient-secondary">Registrado</span>
                                    </ng-template>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">{{ cliente.fecha_registro |
                                        date: 'dd/MM/yyyy h:mm a'}}</span>
                                </td>
                                <td class="align-middle">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>